.page-home{

  > header{
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    height: $header-height;
    padding-left: 20px;

    .left{
      float: left;
      color: $blue-dark;
      font-weight: 500;
      line-height: $header-height;

      .avatar-image{
        vertical-align: middle;
        display: inline-block;
        height: 35px;
        vertical-align: middle;

        img{
          height: 35px;
        }
      }

      .avatar-name{
        display: inline-block;
        padding: 0 15px;
        vertical-align: middle;
        padding-top: 2px;
        font-weight: 600;
      }
    }

    .right{
      float: right;
      height: $header-height;

      i{
        font-size: 16px;
      }

      .icon{
        float: left;
        height: 100%;
        color: $gray-light;
        line-height: $header-height;
        padding: 0 25px;
      }
    }

  }

  .body{
    display: flex;
    height: calc( 100% - #{$header-height});

    .labels-panel{
      width: 300px;
      border-right: 1px solid $gray-light;

      header{
        padding: 20px;
        font-size: 16px;
        font-weight: 500;
      }

      ul {

        li{
          padding: 15px 0px;
          color: $gray;
          font-weight: lighter;

          i{
            padding: 0 20px 0 25px;
          }

          &.active{
            background: $blue-lightest;
            color: $blue;
            font-weight: 600;
            border-right: 3px solid $blue;
          }

          &:hover{
            background: $blue-lightest;
            cursor: pointer;
          }
        }
      }
    }

    .emails-panel{
      width: 450px;
      height: 100%;
      border-right: 1px solid $gray-light;
      overflow: auto;

      ul {

        li{
          display: flex;
          left: 60px;
          border-bottom: 1px solid $gray-lighter;
          padding: 20px;

          .avatar{
            height: 40px;
            width: 40px;
            border-radius: 20px;
            background: $gray-light;
          }

          .right{
            padding: 0px 20px;

            .sender{
              font-weight: lighter;
              font-size: 12px;
              padding-bottom: 8px;
            }

            .title{
              font-weight: 600;
              padding-bottom: 15px;
              font-size: 16px;
            }

            .description {
              font-weight: lighter;
              max-height: 42px;
              overflow: hidden;
              line-height: 20px;
            }
          }

          &.active{
            border-right: 3px solid $blue;
            background: $blue-lightest;

            .avatar{
              background: $blue;
            }

            .title{
              color: $blue;
            }
          }

          &:hover{
            background: $blue-lightest;
            cursor: pointer;
          }
        }
      }
    }

    .email-details-panel{

    }
  }
}