<div class="page page-home eapp">

  <header class="eapp">

    <div class="left eapp">
      <div class="avatar-image eapp">
        <img src="assets/images/avatar.png">
      </div>
      <div class="avatar-name eapp">John Morrison</div>
    </div>

    <div class="right eapp">
      <div class="icon eapp">
        <i class="far fa-bell"></i>
      </div>

      <div class="icon eapp" ng-click="$ctrl.login()">
        <i class="fab fa-google"></i>
      </div>

    </div>

  </header>

  <div class="body eapp">

    <div class="labels-panel eapp">
      <header>
        Messages
      </header>
      <ul>
        <li ng-repeat="label in $ctrl.labels" ng-class="{ active :  $ctrl.selectedLabel === label }" ng-click="$ctrl.selectLabel(label)">
          <i class="fas fa-inbox"></i>
          {{label}}
        </li>
      </ul>
    </div>

    <div class="emails-panel eapp">
      <ul>
        <li ng-repeat="email in $ctrl.emails" ng-class="{active: $ctrl.selectedEmail.result.id === email.result.id }" ng-click="$ctrl.selectEmail(email)">
          <div class="left">
            <div class="avatar">

            </div>
          </div>

          <div class="right">
            <div class="sender">
              {{email.details.from}}
            </div>

            <div class="title" >
              {{email.details.subject}}
            </div>

            <div class="description">
              {{email.result.snippet}}
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="email-details-panel eapp">
      <header class="eapp">
        {{$ctrl.selectedEmail.details.subject}}
      </header>

      <div class="email-details-body eapp" id="email-details">
        <!-- <ul class="eapp">
          <li class="eapp" ng-bind-html="$ctrl.selectedEmail.result.payload.body.data"></li>
          <li class="eapp" ng-repeat="part in $ctrl.selectedEmail.result.payload.parts" ng-bind-html="part.body.data">
          </li>
        </ul> -->
      </div>

    </div>

  </div>
</div>
