$button-height: 40px;

button, .button{
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;

  line-height: $button-height;
  font-weight: $medium-weight;
  font-size: $regular-font;
  padding: 0 $padding-default;
  color: $blue;

  background-color: transparent;
  border-radius: 5px;
  // text-transform: uppercase;
  box-sizing: border-box;
  line-height: $regular-font;
  padding: 10px 15px;

  text-decoration: none;
  display: inline-block;

  svg{
    fill: $blue;
    .cls-1{
      opacity: 1;
    }
  }


  &.loading {
    opacity: 1;
    pointer-events: none;

    animation: stripes-animation 2.5s linear infinite;
    background-size: 40px 40px;
    color: white;
    background-image: linear-gradient(
      -45deg,
      darken($blue, 15%)  25%,
      $blue       25%,
      $blue      50%,
      darken($blue, 15%)  50%,
      darken($blue, 15%)  75%,
      $blue       75%,
      $blue
    );
  }

  &:hover {
    color: lighten($blue, 5%);

    svg{
      fill: lighten($blue, 5%);
    }
  }

  &:active {
    color: darken($blue, 5%);

    svg{
      fill: darken($blue, 5%);
    }
  }

  &.primary{
    color: white;
    background-color: $blue;

    svg{
      fill: white;
    }

    &:hover {
      color: white;
      background-color: lighten($blue, 5%);
    }

    &:active {
      color: white;
      background-color: darken($blue, 5%);
    }
  }

  &.destructive{
    color: white;
    background-color: $red;

    svg{
      fill: white;
    }

    &:hover {
      color: white;
      background-color: lighten($red, 5%);
    }

    &:active {
      color: white;
      background-color: darken($red, 5%);
    }

  }

  &.secondary{
    background-color: transparent;
    color: $blue;

    svg{
      fill: $blue;
    }

    &:before{
      content: ' ';
      display: inline-block;
      position: absolute;

      top: 0;
      left: 0;
      border-radius: 3px;
      height: 100%;
      width: 100%;
      border: 2px solid $blue;
    }


    &:hover {
      color: lighten($blue, 5%);

      svg{
        fill: lighten($blue, 5%);
      }

      &:before{
        border: 2px solid lighten($blue, 5%);
      }
    }

    &:active {
      color: darken($blue, 5%);
      background-color: transparent;

      svg{
        fill: darken($blue, 5%);
      }

      &:before{
        border: 2px solid darken($blue, 5%);
      }
    }
  }

  &[disabled]{
    opacity: 0.35;
    pointer-events: none;
  }
}

