<div class="page page-login">

  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <i class="fab fa-earlybirds"></i>
      <span class="title">
        Early bird
      </span>
    </a>
  </nav>


  <div class="page-content">

    <div class="card">
      <img class="card-img-top" src="assets/images/bussiness-email.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Please login with you Google account by clicking on button below.</p>
        <a href="#" class="btn btn-primary" ng-click="$ctrl.login()">
          <i class="fab fa-google"></i>
          Login with Google
        </a>
      </div>
    </div>

  </div>
</div>
