$blue:#2973ff;
$blue-light: lighten($blue, 10%);
$blue-lighter: lighten($blue, 20%);
$blue-lightest: #f4f9ff;
$blue-dark:#343d4d;

$gray:#9a9396;
$gray-light:#cdd2d5;
$gray-lighter: lighten($gray-light, 10%);
$gray-lightest: lighten($gray-light, 15%);

$header-height: 65px;

$green: green;
$green-light: lighten($green, 10%);;

$dark: #2c3e50;



button{
  appearance: none;
  border: 0;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;


  &:focus{
    outline: 0;
  }

  &:hover{
    opacity: 0.9;
  }

  &:active{
    opacity: 0.7;
  }
}