@import '../../styles/consts.scss';

.page{
  &.page-compose{
    display: flex;
    flex-direction: column;

    header{

      > div{
        display: flex;
        padding: 0px 20px;
        border-bottom: 1px solid $gray-lightest;

        label{
          line-height: 40px;
        }

        input{
          flex: 1;
          border: 0;

          &:focus{
            box-shadow: none;
          }
        }
      }
    }

    .body{
      display: inline-block;
      flex: 1;

      .quillWrapper{
        height: auto;

        .quill-container{
          overflow: auto;
        }
      }
    }
  }
}